<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>LoginExample</display-name>
	<servlet>
		<servlet-name>RegisterUIServlet</servlet-name>
		<servlet-class>yy.web.UI.RegisterUIServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>yy.web.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginUIServlet</servlet-name>
		<servlet-class>yy.web.UI.LoginUIServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>yy.web.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexUIServlet</servlet-name>
		<servlet-class>yy.web.UI.IndexUIServlet</servlet-class>
	</servlet>





	<servlet-mapping>
		<servlet-name>RegisterUIServlet</servlet-name>
		<url-pattern>/RegisterUIServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginUIServlet</servlet-name>
		<url-pattern>/LoginUIServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexUIServlet</servlet-name>
		<url-pattern>/IndexUIServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>